-
	const groups = [
		{img: 'group-1.png', name: 'Оздоровительная группа', text: 'Оздоровительная группа по фигурному катанию – это замечательная возможность для занятий спортом и укрепления здоровья. Такая группа может объединять людей любого возраста и уровня подготовки. В ней можно заниматься как профессионально, так и просто для улучшения физической формы.', list: ['Расписание для занятий составлено удобно как для школьников , так и для дошкольников','Тренировки проходят во второй половине дня','Детские оздоровительные группы выходного дня ( суббота - воскресенье)','В течение спортивного сезона проходят клубные зачетные соревнования']},
		{img: 'group-2.png', name: 'Спортивная группа',      text: 'Спортивная группа фигурного катания – это команда талантливых спортсменов, которые занимаются фигурным катанием. В этой группе каждый участник проходит обучение у профессиональных тренеров, которые помогают улучшать технику и мастерство.',                                            list: ['В спортивных группах дети занимаются 3 раза в неделю на льду','Расписание для занятий составлено удобно для школьников','Тренировки проходят во второй половине дня','Постановка спортивных программ для участия в соревнованиях']},
		{img: 'group-3.png', name: 'Группа выходного дня',   text: 'Группа выходного дня фигурного катания - это команда профессиональных фигуристов, которые выступают в различных соревнованиях и шоу. Эта группа объединяет людей, которые любят фигурное катание и хотят продемонстрировать свои навыки большому к числу зрителей.',                       list: ['Позволяет заниматься любимым видом спорта в удобное для себя время','Общение с единомышленниками, поделиться опытом и научиться чему-то новому','Позволяет повысить свой уровень подготовки и улучшить технику катания','Помогают ощутить радость от спорта и свободно выразить себя на льду']}
	]

section.groups#groups
	.container
		h2.title.groups__title Информация #[b о группах]
		.groups__box
			.swiper.js-sliderGroups  
				.swiper-wrapper
					each item, i in groups
						.preview.swiper-slide
							figure.preview__imgbox
								img.preview__img(src="img/" + item.img, alt="@")
							.preview__info 
								.preview__title= item.name 
								p.preview__text= item.text 
								ul.preview__list 
									each elem in item.list
										li.preview__li= elem
								button.preview__morebtn(data-fancybox=`group` data-src=`#group${i}`) Узнать больше
								button.button.preview__record(data-fancybox=`record${i}` data-src="#record") Записаться в группу
				.swiper-pagination
